header{
    background-color: #9e9d24 ;

}



.make-quote{
 background-color: deepskyblue;
 margin-left: 45%;
}

.title{
    margin-left: 38%;
}

.border{
    border-style: solid;
    border-color: black;
    margin-top: 5%;
    background-color: #9e9d24;
    width: fit-content;
    margin-left: 30%;
    
}

.feeling-box{
    border-style: solid;
    border-color: black;
    margin-top: 5%;
    background-color: #9e9d24;
    width: fit-content;
    letter-spacing: 10px;
    border-radius: 10px;
    margin-left: 30%;
}